@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ShippingTypeDto
@section styles {
    <link rel="stylesheet" href="~/Admin/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="~/Admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
           
            <form class="forms-sample" method="post" enctype="multipart/form-data"
                  asp-controller="ShippingTypes" asp-action="Save" role="form">
                <h4 class="card-title">@Shipping.ShippingTypes</h4>
                <p class="card-description">  </p>

                <input asp-for="Id" type="hidden" />
                <div class="form-group">
                    <label for="exampleInputUsername1">@Labels.NameAr</label>
                    <input asp-for="ShippingTypeAname" type="text" class="form-control" placeholder="@Labels.NameAr">
                    <span asp-validation-for="ShippingTypeAname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">@Labels.NameEn</label>
                    <input asp-for="ShippingTypeEname" type="text" class="form-control" placeholder="@Labels.NameEn">
                    <span asp-validation-for="ShippingTypeEname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">@Labels.Factor</label>
                    <input asp-for="ShippingFactor" type="text" class="form-control" placeholder="@Labels.Factor">
                    <span asp-validation-for="ShippingFactor" class="text-danger"></span>
                </div>
              @*   <div class="form-group">
                    <label for="exampleSelectGender">Gender</label>
                    <select class="form-control" id="exampleSelectGender">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div> *@
             @*    <div class="form-group">
                    <label>File upload</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1">City</label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Textarea</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                </div> *@
                <button type="submit" formmethod="post" class="btn btn-gradient-primary me-2">@Actions.Save</button>
                <button class="btn btn-light">@Actions.Clear</button>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Admin/vendors/select2/select2.min.js"></script>
    <script src="~/Admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>

    <script src="~/Admin/js/file-upload.js"></script>
    <script src="~/Admin/js/typeahead.js"></script>
    <script src="~/Admin/js/select2.js"></script>
}